@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --cor-branca: white;
    --cor-preta: black;
    --cor-sombra: #AAAAAA;
    --cor-fundo1: #546E7A;
    --cor-fundo2: #F1F5F9;

    --cor-fundo-menu: #3f51b5;

    --cor-botao-azul: #1976D2;
    --cor-botao-azul-borda: #0D47A1;
    --cor-botao-azul-hover: #2196F3;

    --cor-botao-vermelho: #D32F2F;
    --cor-botao-vermelho-borda: #B71C1C;
    --cor-botao-vermelho-hover: #F44336;

    --cor-botao-laranja: #e64a19;
    --cor-botao-laranja-borda: #bf360c;
    --cor-botao-laranja-hover: #ff5722;

    --cor-botao-verde: #388e3c;
    --cor-botao-verde-borda: #1b5e20;
    --cor-botao-verde-hover: #4caf50;

    --cor-botao-branco: var(--cor-branca);
    --cor-botao-branco-borda: #bdbdbd;
    --cor-botao-branco-hover: #eeeeee;
}

body {
    font-size: 100%;
    background-color: var(--cor-fundo1);
}

link {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

hr {
    width: 15rem;
    margin: 1rem auto;
    color: white !important;
    opacity: unset !important;
}

.nav-link {
    color: white !important;
}

.dropdown-item:hover {
    background-color: var(--cor-fundo-menu) !important;
}

.botao {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: var(--cor-branca);
    border-radius: 3.125rem;
    padding: 1rem 2rem;
    border: unset;
}

.botao:hover {
    color: var(--cor-branca);
}

.botao-azul {
    background-color: var(--cor-botao-azul);
    border-bottom: 4px solid var(--cor-botao-azul-borda);
}

.botao-azul:hover {
    background-color: var(--cor-botao-azul-hover);
}

.botao-vermelho {
    background-color: var(--cor-botao-vermelho);
    border-bottom: 4px solid var(--cor-botao-vermelho-borda);
}

.botao-vermelho:hover {
    background-color: var(--cor-botao-vermelho-hover);
}

.botao-laranja {
    background-color: var(--cor-botao-laranja);
    border-bottom: 4px solid var(--cor-botao-laranja-borda);
}

.botao-laranja:hover {
    background-color: var(--cor-botao-laranja-hover);
}

.botao-verde {
    background-color: var(--cor-botao-verde);
    border-bottom: 4px solid var(--cor-botao-verde-borda);
}

.botao-verde:hover {
    background-color: var(--cor-botao-verde-hover);
}

.botao-branco {
    background-color: var(--cor-botao-branco);
    border-bottom: 4px solid var(--cor-botao-branco-borda);
    color: var(--cor-preta);
}

.botao-branco:hover {
    background-color: var(--cor-botao-branco-hover);
    color: var(--cor-preta);
}

.fundo-janelas {
    background-color: var(--cor-fundo2);
    border-radius: 15px;
}

.flex-h {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.flex-v {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.sombra1 {
    border: 1px solid #D6D6D6;
    border-radius: 5px;
    box-shadow: 2px 2px 4px 0px var(--cor-sombra);
}
